*{
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: 'inter', sans-serif;
}


.titles_container{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-family: 'inter',sans-serif;
}
.SignUp_container{
  display: flex;
  margin-top: 3rem;
 font-size: large;
  font-family: 'inter',sans-serif;
  font-weight: 600;
}

.SignUp_Btn{
  text-decoration: none;
  font-size: 1.1rem;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    color: aliceblue;
    background-color: #f1890e;
    padding: .5rem;
    margin-left: 2rem;
    border-radius: 5px;
    cursor: pointer;
}
.Btn{
  text-decoration: none;
  font-size: 1.1rem;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    color: aliceblue;
    background-color: #f1890e;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
  }
.space{
  
  margin-left: 2rem;
  
}
.SignUp_Btn_nc{
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    padding: .5rem;
    border-radius: 5px;
}
.Profile_space{
  margin: 2rem 6rem;
}

.categories_link{
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.SinglePage_page_con{
  display: flex;
    margin-top: 1rem;
    column-gap: 2rem;
}

.image{
  width:30rem;
  height: 27rem;
}

.top_space{
  margin-top: 1rem;
}

.mainCard{
  margin-top: 2rem;
  /* color: #fff; */
padding:.5rem .75rem;
cursor: pointer;
border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    transition: all .2s ease-in-out;
}
.mainCard>h2{
  margin-bottom: 1rem;
  text-align: center;
  
}

.mainCard>p{
  font-size: 1.1rem;
}
.mainCard:hover{
color: #e2d1d1;
background-color: #f1890e;
}

.colored{
  color: #f1890e;
  /* background-color: #f1890e; */
  cursor: pointer;
}